html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.portrait{
    height: 200px;
    width: 200px;
}
.navbar, .jumbotron, .about_us, .upcoming, .eboard, .contact{
    width: 100vw;
}
.jumbotron{
    background-color: black;
    height: 100vh;
}
.jumbotron h1, .jumbotron p{
    color: indianred;
    z-index: 100;
    position: relative;
}
.upcoming{
    background-color: lightgrey;
}
.contact{
    background-color: dimgrey;
}
.icon{
    height: 20px;
    width: 20px;
}
#particles-js {
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    position: absolute;
}